#questions {
    text-align: center;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.answer-comments {
    margin-left: 100px;
}

#main {
    float: left;
    width: 15%;
}

#child1 {
    width: 15%;
    float: left;
}

#child2 {
    width: 15%;
    float: left;
}

.card {
    width: 400px;
    border: none;
}

.like-buttons-form {
    display: inline-block;
}

#select-form {
    display: inline-block;
    right: 0;
    margin-top: 60px;
    margin-left: 5px;
}

.add-question-with-select {
    display: inline-block;
    margin-top: 60px;
    margin-right: 1%;
    position: absolute;
    right: 0px;
}

.navbar-expand-lg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.table-striped,
.submit-data-form,
#question-page,
#searched-questions {
    margin-top: 55px;
}

.add-question {
    display: inline-block;
    margin-top: 60px;
    margin-left: 0.5%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.comment-btn,
#answer-btn {
    color: white;
    text-decoration: none;
}

#delete-btn,
#delete-btn1,
.comment-btn {
    display: inline-block;
}
.question-data {
    text-align: center;
}
.comment-btn:hover {
    text-decoration: none;
    color: white;
}

.question-message {
    width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    margin: auto
}

/*div .question-comments {*/
/*    margin: 0 auto*/
/*}*/
/*button {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*}*/
