#questions {
    text-align: center;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
}

.answer-comments {
    margin-left: 100px;
}


#main {
        float:left;
        width:15%;
      }

#child1 {
        width:15%;
        float:left;
      }

#child2 {
        width:15%;
        float:left;
      }

.like-buttons-form{
    display: inline-block;
}

