{% extends 'base.html' %} {% block title %} Add question | AskMate {% endblock
%} {% block content %} {{ super() }}
<form
    class="submit-data-form"
    action="{{ url_for('add_question') }}"
    method="post"
    enctype="multipart/form-data"
>
    <label for="title">Title:</label>
    <br />
    <input
        type="text"
        name="title"
        id="title"
        size="115"
        minlength="10"
        required
    />
    <br />
    <br />
    <label for="message">Message:</label>
    <br />
    <textarea
        name="message"
        id="message"
        cols="100"
        rows="15"
        minlength="5"
        required
    ></textarea>
    <br />
    <strong>Add image:</strong>
    <input type="file" id="question-image" name="question-image" />
    <button type="submit">Add</button>
</form>
<a href="{{ url_for('route_list') }}">Go back</a>
{% endblock %}
