
{% extends 'base.html' %} {% block title %} Edit question | AskMate {% endblock
%} {% block content %} {{ super() }}
    <div class="edit">
    <br><br><br>
<form
    class="submit-data-form"
    action="{{ add_question }}"
    method="post"
    enctype="multipart/form-data"
>
    <label for="title">Title:</label>
    <br />
    <input
        type="text"
        name="title"
        id="title"
        size="97"
        minlength="10"
    />
    <br />
    <br />
    <label for="message">Edit message:</label>
    <br />
    <textarea name="message" id="message" cols="100" rows="15" minlength="5"></textarea
    >
    <br />
       <strong>Add image:</strong>
    <input type="file" id="question-image" name="question-image" />
    <br>
    <button type="submit" class="btn btn-color px-5 mb-5 w-30">Submit</button>
</form>
    </div>
{% endblock %}