
{% extends 'base.html' %} {% block title %} Edit answer | AskMate {% endblock
%} {% block content %} {{ super() }}
    <div class="edit">
    <br><br><br>
<form class="submit-data-form" action="{{ "/question/"+ question_id + "/new-answer"}}" method="post" enctype="multipart/form-data">
           <label for="message"><strong>Enter your answer:</strong></label><br>
           <textarea id="message" name="message" rows="6" cols="60" required></textarea>
           <br>
           <strong>Add image:</strong>
           <input type="file" id="question-image" name="question-image">
           <button type="submit" class="btn btn-color px-5 mb-5 w-30">Submit</button>
        </form>

    </div>

{% endblock %}