{% extends 'base.html' %}
{% block title %} Edit question | AskMate {% endblock %}
{% block content %}
    {{ super() }}
    <form action="{{ add_comment_to_answer }}" method="post" enctype="multipart/form-data">
        <label for="title">Edit title:</label>
        <br>
        <input type="text" name="title" id="title" value="{{ question.title }}" size="115" minlength="10">
        <br>
        <br>
        <label for="message">Edit message:</label>
        <br>
        <textarea name="message" id="message" cols="100" rows="15" minlength="5">{{ question.message }}</textarea>
        <br>
        <button type="submit">Edit</button>
    </form>
    <button><a href="{{ url_for('display_question', question_id=question_id) }}">Go back</a></button>
{% endblock %}