{% extends 'base.html' %}
{% block content %}
{{ super() }}
    <div id="comment_page">
       <form class="submit-data-form" action="{{ edit_answer }}" method="post" enctype="multipart/form-data">
        <label for="message"><strong>Edit your answer:</strong></label>
            <br>
            <br>
        <textarea id="message" name="message" rows="6" cols="60" required>{{ answer.message }}</textarea>
            <br>
        <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}