{% extends 'base.html' %} {% block title %} Questions | AskMate {% endblock %}
{% block content %} {{ super() }}
<form id="select-form" method="get">
    <label for="sort">Sorted by:</label>
    <select name="order_by" id="sort">
        <option value="time" {% if sort_method == 'time' %} selected {% endif %}>Submission time</option>
        <option value="title" {% if sort_method == 'title' %} selected {% endif %}>Title</option>
        <option value="message" {% if sort_method == 'message' %} selected {% endif %}>Message</option>
        <option value="views" {% if sort_method == 'views' %} selected {% endif %}>Number of views</option>
        <option value="votes" {% if sort_method == 'votes' %} selected {% endif %}>Number of votes</option>
    </select>
    <label for="order">Order:</label>
    <select name="order_direction" id="order">
        <option value="desc" {% if order == 'desc' %} selected {% endif %}>Descending</option>
        <option value="asc" {% if order == 'asc' %} selected {% endif %}>Ascending</option>
    </select>
    <button type="submit" class="btn btn-secondary btn-sm">Sort</button>
</form>
<div class="add-question-with-select">
    <a href="{{ url_for('add_question') }}">Add a question</a>
</div>
<div class="question-list">
    {% for question in questions %}
    <div id="questions">
        <a href="/question/{{ question.id }}">{{ question.title }}</a>
        <br /><br />
         <p class='question-message'>{{ question.message }}</p>
        <br /><br />
        {% if username %}
        <div class="like-buttons">
            <form
                class="like-buttons-form"
                action="{{ url_for('question_vote_up', question_id = question.id) }}"
                method="post"
            >
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-hand-thumbs-up"></i>
                </button>
            </form>
            <form
                class="like-buttons-form"
                action="{{ url_for('question_vote_down', question_id = question.id)}}"
                method="post"
            >
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-hand-thumbs-down"></i>
                </button>
            </form>
        </div>
        {% endif %}
        <br />
        <br />
        <i class="fa-solid fa-eye"></i> {{ question.view_number }}
        <i class="fa-solid fa-clipboard"></i> {{ question.vote_number }}
        <br />
        <small>Posted on: {{ question.submission_time }}</small>
    </div>
    {% endfor %}
</div>
{% endblock %}
