{% extends 'base.html' %} {% block title %} Login | AskMate {% endblock %} {%
block content %} {{ super() }} <br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">
                <form
                    class="submit-data-form"
                    action="{{ url_for('login_user') }}"
                    method="post"
                >
                    <div class="text-center">
                        <h3>Login</h3>
                        <br />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            id="user"
                            name="username"
                            placeholder="User Name"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="password"
                            class="form-control"
                            id="password"
                            name="user-password"
                            placeholder="Password"
                        />
                    </div>
                    <div class="text-center">
                        <button
                            type="submit"
                            class="btn btn-color px-5 mb-5 w-100"
                        >
                            Sign In
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
