{% extends 'base.html' %}
{% block title %} AskMate {% endblock %}
{% block content %}
    {{ super() }}
    <form action="{{ url_for('search_questions') }}">
        <label for="search-input"></label>
        <input type="text" id="search-input" name="q" placeholder="Search" required>
        <button type="submit">Search</button>
    </form>
    <a href="{{ url_for('route_list') }}">Questions</a>
    <div class="question-list">
        {% for question in questions %}
            <div id="questions"><a href="/question/{{ question.id }}">{{ question.title }}</a>
                <br><br>
                {{ question.message }}
                <br><br>
            <form action="{{ url_for('question_vote_up', question_id = question.id) }}" method="post">
                <button type="submit">Vote up</button>
            </form>
            <form action="{{ url_for('question_vote_down', question_id = question.id)}}" method="post">
                <button type="submit">Vote down</button>
            </form>
                <br>
                <br>
                {{ question.view_number }} views {{ question.vote_number }} votes
                <br>
                <small>Posted on: {{ question.submission_time }}</small>
            </div>
        {% endfor %}
    </div>
    {% if username %}
    <button><a href="{{ url_for('add_question') }}">Add a question</a></button>
    {% endif %}


{% endblock %}