{% extends 'base.html' %} {% block content %} {{ super() }}
<div id="question-page">
    <div class="text-center">
        <h2 class="question-data">
            {{ question.title }} {% if username == author or username == 'admin'
            %}
        </h2>
        <a href="{{ url_for('edit_question', question_id=question_id )}}"
            >Edit</a
        >
        <form
            id="delete-btn"
            action="{{ url_for('delete_question', question_id=question_id) }}"
            method="post"
        >
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        {% endif %} {% if username %}
        <button class="btn btn-secondary btn-sm">
            <a
                class="comment-btn"
                href="{{ url_for('add_comment_to_question', question_id=question_id )}}"
                >Comment</a
            >
        </button>
    </div>
    {% endif %}
    <p class="question-data">
        <i class="fa-solid fa-eye"></i> {{ question.view_number }}
        <i class="fa-solid fa-clipboard"></i> {{ question.vote_number }}
        <br /><br />
        {{ question.message }}
        <br />
        {% if question.image != None %}
        <img
            src="{{'/' + question.image }}"
            alt="question_image"
            class="img-fluid"
        />
        {% endif %}
        <br /><br />
        <small
            >Posted on: {{ question.submission_time }} by: {{ author }}</small
        >
        <br />
    </p>
    {% if username %}
    <div class="text-center">
        <button class="btn btn-secondary btn-sm">
            <a
                href="{{ url_for('new_answer', question_id=question_id )}} "
                id="answer-btn"
                >Answer</a
            >
        </button>
    </div>
{% endif %}
    <h4>Question comments:</h4>
    <div>
        <table>
            {% for comment in comments %} {% if comment['question_id'] ==
            question_id|int %}

            <tr>
                <td>Message:<br />{{ comment.message }}</td>
            </tr>
            <tr>
                <td>
                    <small
                        >Posted on: {{ comment.submission_time }} by: {{
                        comment.author }}</small
                    >
                </td>
            </tr>
            <tr>
                <td>------------------------------------------</td>
            </tr>
            {% endif %} {% endfor %}
        </table>
    </div>
    <div class="text-center">
        {% if answers %}
        <h2>Answers:</h2>
        {% endif %}
    </div>
    {% for answer in answers %}
    <div class="text-center">
        <div>{{ answer.message }}</div>
        <div>
            <i class="fa-solid fa-clipboard"></i> {{ answer.vote_number }}
        </div>
        <br />
        {% if answer.image != None %}
        <img src="{{'/' + answer.image }}" alt="answer-image" />
        {% endif %} {% if username == answer.author or username == 'admin' %}
        <a href="{{ url_for('edit_answer', answer_id=answer.id) }}">Edit</a>
        <form
            action="{{ url_for('delete_answer', answer_id=answer.id) }}"
            method="post"
            id="delete-btn1"
        >
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
        {% endif %} {% if username %}
        <button class="btn btn-secondary btn-sm">
            <a
                class="comment-btn"
                href="{{ url_for('add_comment_to_answer', answer_id=answer.id) }}"
                >Comment</a
            >
        </button>
        <div class="votes">
            <br />
            <form
                class="like-buttons-form"
                action="{{ url_for('answer_vote_up', answer_id=answer.id) }}"
                method="post"
            >
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-hand-thumbs-up"></i>
                </button>
            </form>
            <form
                class="like-buttons-form"
                action="{{ url_for('answer_vote_down', answer_id=answer.id) }}"
                method="post"
            >
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-hand-thumbs-down"></i>
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    <br />
    <div class="text-center">
        <small
            >Posted on: {{ answer.submission_time }} by: {{ answer.author
            }}</small
        >
    </div>
    <br /><br />
    <h5>Answer comments:</h5>
    <div class="answer-comments">
        <table>
            {% for comment in comments %} {% if comment['answer_id'] ==
            answer['id'] %}
            <tr>
                <td>Message:<br />{{ comment.message }}</td>
            </tr>
            <tr>
                <td>
                    <small
                        >Posted on: {{ comment.submission_time }} by: {{
                        comment.author }}</small
                    >
                </td>
            </tr>
            <tr>
                <td>------------------------------------------</td>
            </tr>
            {% endif %} {% endfor %}
        </table>
    </div>
</div>
{% endfor %} {% endblock %}
