{% extends 'base.html' %}
{% block content %}

{% if error != None %}
{{ error }}
{% endif %}

<div id="register-page" class="button">
       <form action="{{ url_for('register') }}" method="post" enctype="multipart/form-data">
        <label for="username"><strong>Username:</strong></label>
            <br>
            <br>
        <input type="text" name="username" id="username" size="20" required>
            <br>
        <label for="password"><strong>Password:</strong></label><br>
           <input type="text" name="password" id="password" size="50"><br><br>
        <input type="submit" value="Submit">
        </form>
    </div>




{% endblock %}