{% extends 'base.html' %}
{% block title %} User Panel | AskMate {% endblock %}
{% block content %} {{ super() }}
<table style="border:1px solid black;margin-left:auto;margin-right:auto;text-align:center">
    <tr>
        <th>User login:</th>
        <th>Date of register:</th>
        <th>Amount of questions:</th>
        <th>Amount of answers:</th>
        <th>Amount of comments:</th>
    </tr>

        <tr>
            <td>
                <a href="{{ url_for("user_page", user_id=userdata['id'])  }}">
                    {{ userdata["username"] }}</a>
            </td>
            <td>
                {{ userdata["registration_date"] }}
            </td>
            <td>
                {% for user_question in count_questions %}
                    {% if userdata["id"] == user_question["id"] %}
                        {{ user_question["count_question"] }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_answer in count_answers %}
                    {% if userdata["id"] == user_answer["id"] %}
                        {{ user_answer["count_answer"] }}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_comment in count_comments %}
                    {% if userdata["id"] == user_comment["id"] %}
                        {{ user_comment["count_comment"] }}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>

</table>
    <table>
     <tr>
        <th>Answers:</th>
    </tr>
        {% for answer in answers %}
    <tr>
        <td>
            <a href="{{ url_for('display_question', question_id=answer.question_id) }}">{{ answer.message }}</a>
        </td>
    </tr>
        {% endfor %}
    <tr><td></td></tr>
    <tr>
        <td></td>
    </tr>

    </table>

     <table>
     <tr>
        <th>Questions:</th>
    </tr>
        {% for question in questions %}
    <tr>
        <td>
            <a href="{{ url_for('display_question', question_id=question.question_id) }}">{{ question.title }}</a>
        </td>
    </tr>
        {% endfor %}
    <tr><td></td></tr>
    <tr>
        <td></td>
    </tr>

    </table>
{% endblock %}